

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5c3c3;
  /* color: #fff; */
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
  height: 75px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  
}

nav:hover {
  /* background-color: #444; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  
}

.navlogo img{
  width: 95px;
  height: 73px;
  margin-left: 20px;
}

.navlogo a {
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* text-decoration: none; */
  color: #020202;
  
	font-size: 35px;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	/* text-transform: uppercase; */
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	/* border: 1px dotted #fff; */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	padding: 0 20px;
  margin-left: -20px;
}


.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin: 0 10px;
  transition: transform 0.2s ease-in-out;
}

.links li:hover {
  transform: scale(1.1);
}

.links li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000000;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #333; */
  min-width: 160px;
  z-index: 1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.fa-caret-down {
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
}

.dropdown:hover .fa-caret-down {
  transform: rotate(180deg);
}


hr {
  /* margin: 0%; */
  border-radius: 15px;
  position: relative;
  width: 90%;
  height:3px;
  border-width:0;
  background-color:#00A4BD;
  margin-top: -7px;
  margin-bottom: 14px;
  
}


form {
    /* background-color: #ecb6b6; */
    background-image: radial-gradient(circle farthest-corner at 2.3% 23.2%, rgb(122, 196, 209) 8.7%, rgb(218, 216, 128) 74.7%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10 10 20px rgba(0, 0, 0, 0.918);
    max-width: 400px;
    margin: 0 auto;
    height: 500px;
    margin-left: -375px;
    position: absolute;
    border: 10px;
  }
  
  legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .btn{
    background-color: #c45a30;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }

  .btn:hover{
    background-color: #bd5f28;
  }

  .col-md-6{
    /* width: 100px; */
    max-width: 200px;
    /* height: 300px; */
    /* float: right; */
    position: absolute;
    margin-right: 200px;
  }
   
  .col-md-6 img{
    margin-left: 40px;
    width: 749px;
    position: absolute;
  }
  

  /* Footer Styles */

footer {
  margin-right: -82px;
    background-color: #9cc1d6;
    padding: -44px;
    margin-top: 586px;
    position: relative;
    margin-left: -82px;
    border-radius: 20px;
    height: 310px;
    margin-bottom: 10px;
    
}

.footer-contact{
  margin-left: 90px;
  margin-top: 20px;
}

.footer-links{
  margin-top: 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links ul,
.footer-contact ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-contact li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #333;
}

.footer-contact li i {
  margin-right: 10px;
  color: #333;
}

.footer-social a {
  color: #333;
  font-size: 24px;
  margin-right: 10px;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #333;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 9px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
    color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
